{% extends 'webpage/base.html' %}
{% block content %}

	<!-- Header space -->
			<div class="header-space"></div>
			<!-- END Header space -->
			
			<section class="fw-main-row c18-hypno-bg" style="padding: 30px 0 50px;">
				<div class="fw-container">					
					<div class="fw-row" style="padding: 50px 0 0;">
						<h2 class="heading-decor">Get in touch</h2>
						<p class="tac t-text">Searching for additional information? <br> Or perhaps you've got an interesting project in mind? <br> Feel free to send me a DM and I'll get back to you ASAP</p>
						<!-- Feedback form -->
						<div class="tac">
							<h5><i class="social-icons icon-facebook-logo"></i> <a href="">Message me on Facebook</a></h5>
							<h5><i class="social-icons icon-twitter-logo"></i> <a href="https://twitter.com/nicfein">Follow me @nic_feinholz</a></h5>
							<h5><i class="social-icons icon-instagram-social-network-logo-of-photo-camera"></i> <a href="https://www.instagram.com/nic_feinholz/?hl=en">Follow me on Instagram</a></h5>
						</div>
						<!-- END Feedback form -->
					</div>
				</div>
			</section>
	
{% endblock content %}
			